
.banner a {
    text-decoration: none;
    padding: 0px;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.banner a:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.banner img{
    width: 100%;
    max-width: auto;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.banner a:hover img {
  transform: scale(1.01);
}

/*      Banner Redes Sociales       */

.redes-sociales {
    padding-bottom: 70px;
}

.redes-sociales a {
    padding: 0px;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.redes-sociales a:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.redes-sociales img{
    width: 100%;
    max-width: auto;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.redes-sociales a:hover img {
  transform: scale(1.01);
}

