body {
    margin-top: 5rem;
}

 form {
    max-width: 80rem;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #edeff0;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0,0.1);
}

.form-control {
    border-radius: 0.5rem;
    padding: 8px 12px;
    font-size: 1.5rem;
}

.btn {
    min-width: 12rem;
}

.btn-success {
    margin-right: 1rem;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group .form-control {
  width: 100%;
  padding-right: 40px;
  border-radius: 0.25rem;
}

.input-group-append {
  background-color: transparent; /* Fondo transparente */
}

.input-group button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem; /* Ajustamos el tamaño del botón */
}

.input-group button:focus {
  outline: none;
}

