.titulo-panel{
    color: #161a1d;
    text-align: center;
}

.tarjet img {
    max-width: 250px;
}

.tarjet {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.seccion-admin a{
    background-color: #f8f9fa;
    padding: 50px 50px 0 50px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.seccion-admin a:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-6px);
}
