body{
    background-image: url('/dgmoss-project/assets/img/backs/4.png');
}

.formulario{
    background-color: #611232;
    color: white;
    margin: 11.6rem auto;
    padding: 40px 30px;
    max-width: 400px;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 1);
    border-radius: 20px;
}


.sign-in input[type=text],
.sign-in input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
}

.sign-in button,
.sign-in input[type=submit]{
    width: 100%;
    background-color: #a57f2c;
    color: white;
    padding: 12px 0px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.sign-in button:hover,
.sign-in input[type=submit]{
    background-color: #8c6723;
}

@media (max-width: 576px) {
    .sign-in {
        margin: 30px 15px;
        padding: 30px 20px;
    }
}
