body {
    padding-top: 110px; /* Ajusta el valor según la altura de tu barra de navegación */
}

.img-banner img {
    width: 100%;
    height: 30rem;
    display: block; /* Asegura que la imagen sea un bloque y no quede con márgenes extra */
}

.contacto {
    margin: 2rem auto;
    max-width: 110rem;
}

.contacto .seccion {
    margin-top:  3rem;
}

.card {
    height: 35rem;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #611232;
    color: #FFFFFF;
}

.card-body{
    padding: 4rem;
    color: black;
}

.mapa {
    height: 35rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.texto-map a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding-left: 70rem;
}

/* Medias queries para pantallas pequeñas y tabletas */
@media (max-width: 768px) {

    /* Reduce el tamaño de la tarjeta */
    .card {
        height: auto;
        margin-bottom: 2rem;
    }

    /* Ajusta el padding del cuerpo de la tarjeta */
    .card-body {
        padding: 2rem;
    }

    /* Ajusta el tamaño del mapa */
    .mapa {
        height: 30rem;
    }

    /* Ajusta el texto y el espacio del link */
    .texto-map a {
        font-size: 1.5rem;
        padding-left: 0;
        text-align: center;
        display: block;
        margin-top: 1rem;
    }

    /* Rediseña la sección para que las columnas sean de una sola columna */
    .contacto .seccion {
        display: block;
    }

    .contacto .col-md-6 {
        width: 100%;
        margin-bottom: 2rem;
    }
}

/* Medias queries para pantallas más grandes como tabletas en orientación horizontal y escritorios */
@media (max-width: 1024px) {
    .card {
        height: auto;
    }

    .card-body {
        padding: 3rem;
    }

    .mapa {
        height: 30rem;
    }

    .texto-map a {
        font-size: 1.8rem;
        padding-left: 0;
        text-align: center;
    }
}
