/*              Contenedor de las direcciones           */
.contenedor-dir{
  padding: 2rem 0;
}

.direccion-card img {
  width: 100%;
  height: auto;
  display: block;
}

.direccion-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.direccion-card:hover{
    transform: translateY(-5px);
}

.direccion-card:hover img {
  filter: brightness(1.1);
}


/*   Contenedor de Colaboradores   */

.colaboraciones {
  background-color: #f8f9fa;
  border-left: 5px solid #611232;
  border-right: 5px solid #611232;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
}

img.colab-icon.img-fluid {
  max-width: 140px;
  transition: transform 0.3s ease;
}

img.colab-icon.img-fluid.REDETSA {
  max-width: 230px;
  transition: transform 0.3s ease;
}

img.colab-icon.img-fluid.WHO {
  max-width: 200px;
  transition: transform 0.3s ease;
}

img.colab-icon.img-fluid.PAHO {
  max-width: 200px;
  transition: transform 0.3s ease;
}

img.colab-icon.img-fluid.PAHO {
  max-width: 200px;
  transition: transform 0.3s ease;
}

img.colab-icon.img-fluid.BRISA {
  max-width: 280px;
  transition: transform 0.3s ease;
}

.colab-icon:hover {
  transform: scale(1.1);
}


/*          Carrusel de documentos           */

.docs-dir {
  background-image: url('/dgmoss-project/assets/img/backs/texturaN1.png');
  border-radius: 10px;
}

.panel-izq h3{
  color: #611232;
}

.panel-izq p {
  color: white;
}

.document-card h5,
.document-card h6{
  color: #a57f2c;
}

.document-card p{
  color: white;
}

.document-card {
  background: transparent;
  border-radius: 8px;
  padding: 1.5rem;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.document-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

/* Ajustes responsivos */
@media (max-width: 992px) {
    .banner-docs .col-lg-4, 
    .banner-docs .col-lg-8 {
        width: 100%;
    }
    
    #carouselDocumentos {
        min-height: auto;
        margin-top: 2rem;
    }
}


/*                       Publicaciones de Redes sociales                   */

/* Contenedor del carrusel 
#carrusel4 h5{
  color: #611232;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

#carrusel4 p {
  color: #333333;
  text-align: center;
}

#carrusel4 {
  height: auto;
}

.carousel-item img {
  object-fit: cover;
  height: 100%; 
  border-radius: 10px; 
}

#carrusel4 .carousel-control-prev{
    left: -60px; /* Ajusta la posición del botón anterior 
    height: auto;
}
#carrusel4 .carousel-control-next {
    right: -60px; /* Ajusta la posición del botón siguiente 
    height: auto;
}