/*              Contenedor de las direcciones           */
.contenedor-dir{
  padding: 2rem 0;
}

.direccion-card img {
  width: 100%;
  height: auto;
  display: block;
}

.direccion-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.direccion-card:hover{
    transform: translateY(-5px);
}

.direccion-card:hover img {
  filter: brightness(1.1);
}


/*   Contenedor de Colaboradores   */

.colaboraciones {
  background-color: #f8f9fa;
  border-left: 5px solid #611232;
  border-right: 5px solid #611232;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
}

img.colab-icon.img-fluid.BRISA {
  max-width: 380px;
  transition: transform 0.3s ease;
}

img.colab-icon.img-fluid.REDETSA{
  max-width: 360px;
  transition: transform 0.3s ease;
}

img.colab-icon.img-fluid.WHO{
  max-width: 240px;
  transition: transform 0.3s ease;
}

.colab-icon {
  max-height: 100px;
  object-fit: contain;
  width: auto;
  margin: 0 auto;
  display: block;
  transition: transform 0.3s ease;
}

.colab-icon:hover {
  transform: scale(1.1);
}


/*          Carrusel de documentos           */

.docs-dir {
  background-image: url('/dgmoss-project/assets/img/backs/2.png');
  border-radius: 10px;
}

.panel-izq h3{
  color: #611232;
}

.panel-izq p {
  color: black;
}

.document-card h5,
.document-card h6{
  color: #611232;
}

.document-card p{
  color: black;
}

.document-card {
  background: transparent;
  border-radius: 8px;
  padding: 1.5rem;
  color: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.document-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #611232;
  border-radius: 50%;
  padding: 15px;
  width: 50px;
  height: 50px;
}

/* Opcional: desplazar un poco más los botones hacia afuera */
.carousel-control-prev {
  left: -20px;
}

.carousel-control-next {
  right: -20px;
}

#navbarDropdownMenuLink.nav-link.subnav-link.dropdown-toggle,
#dropdownMultimedia.nav-link.subnav-link.dropdown-toggle,
.nav-link.subnav-link{
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
}

#navbarDropdownMenuLink.nav-link.subnav-link.dropdown-toggle:hover,
#dropdownMultimedia.nav-link.subnav-link.dropdown-toggle:hover,
.nav-link.subnav-link:hover {
  background-color: #80425b;
  color: #a57f2c;
  transition: all 0.3s ease;
  border-radius: 10px;
}


/* Ajustes responsivos */
@media (max-width: 992px) {
    .banner-docs .col-lg-4, 
    .banner-docs .col-lg-8 {
        width: 100%;
    }
    
    #carouselDocumentos {
        min-height: auto;
        margin-top: 2rem;
    }
}
